<div
	class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0"
>
	<div
		class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"
	>
		<div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
			<div class="w-12">
				<img src="/assets/app/cpu-logo.png" />
			</div>

			<div class="mt-8 text-3xl font-extrabold tracking-tight leading-tight">
				Join the community
			</div>
			<div class="flex items-baseline mt-0.5 font-medium">
				<div>Already have an account?</div>
				<a
					class="ml-1 text-blue-800 hover:underline"
					[routerLink]="['/sign-in']"
					>Sign in
				</a>
			</div>

			<fuse-alert
				class="mt-8 -mb-4"
				*ngIf="showAlert"
				[appearance]="'outline'"
				[showIcon]="false"
				[type]="alert.type"
				[@shake]="alert.type === 'error'"
			>
				{{ alert.message }}
			</fuse-alert>

			<form class="mt-8" [formGroup]="signUpForm">
				<mat-form-field class="w-full">
					<mat-label>ID Number</mat-label>

					<input
						id="id_number"
						matInput
						type="text"
						[formControlName]="'id_number'"
					/>

					<mat-error> Please enter a valid ID Number </mat-error>
				</mat-form-field>

				<mat-form-field class="w-full">
					<mat-label>Full name</mat-label>

					<input id="name" matInput [formControlName]="'name'" />

					<mat-error *ngIf="signUpForm.get('name').hasError('required')">
						Full name is required
					</mat-error>
				</mat-form-field>

				<mat-form-field class="w-full">
					<mat-label>Sex</mat-label>

					<mat-select formControlName="sex">
						<mat-option [value]="'Male'">Male</mat-option>
						<mat-option [value]="'Female'">Female</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field class="w-full">
					<mat-label>Email address</mat-label>

					<input id="email" matInput [formControlName]="'email'" />
				</mat-form-field>

				<div
					class="text-red-600 text-sm -mt-3 mb-3"
					*ngIf="
						signUpForm.get('email').touched &&
						(signUpForm.get('email').hasError('email') ||
							signUpForm.get('email').hasError('required') ||
							validateCPUEmail(signUpForm.get('email')?.value))
					"
				>
					Please enter a valid CPU email address
				</div>

				<mat-form-field class="w-full">
					<mat-label>Phone</mat-label>

					<input id="phone" matInput [formControlName]="'phone'" />

					<mat-error *ngIf="signUpForm.get('phone').hasError('required')">
						Phone is required
					</mat-error>
				</mat-form-field>

				<mat-form-field *ngIf="DEPARTMENTS | has_data" class="w-full">
					<mat-label>Department</mat-label>

					<mat-select
						(selectionChange)="onDepartmentChange($event.value)"
						formControlName="department"
					>
						<mat-option
							[value]="department.name"
							*ngFor="let department of DEPARTMENTS; trackBy: identity"
							>{{ department.name }}</mat-option
						>
					</mat-select>
				</mat-form-field>

				<mat-form-field *ngIf="DEGREES | has_data" class="w-full">
					<mat-label>Degree</mat-label>

					<mat-select
						(selectionChange)="onDegreeChange($event.value)"
						formControlName="degree"
					>
						<mat-option
							[value]="degree.name"
							*ngFor="let degree of DEGREES; trackBy: identity"
							>{{ degree.name }}</mat-option
						>
					</mat-select>
				</mat-form-field>

				<mat-form-field *ngIf="COURSES | has_data" class="w-full">
					<mat-label>Course</mat-label>

					<mat-select
						(selectionChange)="onCourseChange($event.value)"
						formControlName="course"
					>
						<mat-option
							[value]="course.name"
							*ngFor="let course of COURSES; trackBy: identity"
							>{{ course.name }}</mat-option
						>
					</mat-select>
				</mat-form-field>

				<mat-form-field *ngIf="MAJORS | has_data" class="w-full">
					<mat-label>Major</mat-label>

					<mat-select formControlName="major">
						<mat-option
							[value]="major"
							*ngFor="let major of MAJORS; trackBy: identity"
							>{{ major }}</mat-option
						>
					</mat-select>
				</mat-form-field>

				<mat-form-field class="w-full">
					<mat-label>Address</mat-label>

					<input formControlName="address" matInput />

					<mat-error> Address is required </mat-error>
				</mat-form-field>

				<div class="inline-flex items-end w-full mt-1.5">
					<mat-checkbox [color]="'primary'" [formControlName]="'agreements'">
						<span>I agree to the</span>
						<a class="ml-1 text-blue-800 hover:underline" [routerLink]="['./']"
							>Terms of Service
						</a>
						<span>and</span>
						<a class="ml-1 text-blue-800 hover:underline" [routerLink]="['./']"
							>Privacy Policy
						</a>
					</mat-checkbox>
				</div>

				<button
					[ngClass]="{
						'bg-amber-500': signUpForm.valid && !signUpForm.disabled,
						'bg-gray-500': signUpForm.disabled || !signUpForm.valid
					}"
					class="fuse-mat-button-large w-full mt-3 flex text-white py-3 font-bold hover:bg-amber-600/80 items-center justify-center"
					[disabled]="signUpForm.disabled || !signUpForm.valid"
					(click)="signUp()"
				>
					<span *ngIf="!signUpForm.disabled"> Create your free account </span>

					<mat-progress-spinner
						*ngIf="signUpForm.disabled"
						[diameter]="24"
						[mode]="'indeterminate'"
					></mat-progress-spinner>
				</button>
			</form>
		</div>
	</div>
	<div
		style="background: #200c5f"
		class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden"
	>
		<!-- Background - @formatter:off -->
		<!-- Rings -->
		<svg
			class="absolute inset-0 pointer-events-none"
			viewBox="0 0 960 540"
			width="100%"
			height="100%"
			preserveAspectRatio="xMidYMax slice"
			xmlns="http://www.w3.org/2000/svg"
		>
			<g
				class="text-gray-800 opacity-25"
				fill="none"
				stroke="currentColor"
				stroke-width="100"
			>
				<circle r="234" cx="196" cy="23"></circle>
				<circle r="234" cx="790" cy="491"></circle>
			</g>
		</svg>
		<!-- Dots -->
		<svg
			class="absolute -top-16 -right-16 text-orange-200/40"
			viewBox="0 0 220 192"
			width="220"
			height="192"
			fill="none"
		>
			<defs>
				<pattern
					id="837c3e70-6c3a-44e6-8854-cc48c737b659"
					x="0"
					y="0"
					width="20"
					height="20"
					patternUnits="userSpaceOnUse"
				>
					<rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
				</pattern>
			</defs>
			<rect
				width="220"
				height="192"
				fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"
			></rect>
		</svg>
		<!-- @formatter:on -->
		<!-- Content -->
		<div class="z-10 relative w-full max-w-2xl">
			<div class="text-7xl font-bold leading-none text-gray-100">
				<div>Welcome to</div>
				<div>Student Performance Monitor</div>
			</div>
			<div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
				Monitor and track your performance until you graduate. Find out what
				psychometric behaviors you should abide to based on top performing
				students.
			</div>
			<div class="flex items-center mt-8">
				<div class="flex flex-0 items-center -space-x-1.5">
					<img
						class="flex-0 w-10 h-10 rounded-full ring-2 ring-offset-1 ring-white ring-offset-white object-cover"
						src="assets/images/avatars/female-18.jpg"
					/>
					<img
						class="flex-0 w-10 h-10 rounded-full ring-2 ring-offset-1 ring-white ring-offset-white object-cover"
						src="assets/images/avatars/female-03.jpg"
					/>
					<img
						class="flex-0 w-10 h-10 rounded-full ring-2 ring-offset-1 ring-white ring-offset-white object-cover"
						src="assets/images/avatars/male-05.jpg"
					/>
					<img
						class="flex-0 w-10 h-10 rounded-full ring-2 ring-offset-1 ring-white ring-offset-white object-cover"
						src="assets/images/avatars/male-15.jpg"
					/>
				</div>
				<div class="ml-4 font-medium tracking-tight text-gray-400">
					More than 17k students joined us, it's your turn.
				</div>
			</div>
		</div>
	</div>
</div>
