<div
	@zoomIn
	stop-propagation
	*ngIf="opened$ | async"
	style="min-width: 400px"
	class="relative z-10 w-full bg-white md:m-auto md:w-1/2"
>
	<modal-header
		modalTitle="Recommendations are based on the performance of top students of CPU"
		(onClose)="opened$.next(false)"
	></modal-header>

	<div class="w-full bg-white p-10 overflow-y-auto" style="height: 80vh">
		<div *ngFor="let form of recommendations | keyvalue; let i = index">
			<div *ngIf="i === 0">
				<div class="text-4xl font-bold">
					Predicted GPA:
					{{
						form.value.mine.performance.performance
							| get_percentage: form.value.top.gpa.gpa
							| number: '1.2-2'
					}}
				</div>
				<div class="text-gray-500">
					This is only a prediction and may change when your psychometric
					behavior changes.
				</div>
			</div>
		</div>

		<div class="mt-4" *ngFor="let form of recommendations | keyvalue">
			<div class="text-2xl font-bold mb-4">{{ form.key }}</div>

			<div
				class="py-3 px-3 border border-t border-t-gray-100"
				*ngFor="let question of form.value.mine.questions; let index = index"
			>
				<div class="items-center font-medium text-lg">
					{{ index + 1 }}) {{ question.title }}
				</div>

				<div class="flex items-center">
					{{ question.question }}
				</div>

				<div class="text-gray-500">
					Your Score:
					<span class="text-emerald-500">{{
						form.value.mine.records[index].score
					}}</span>
				</div>

				<div class="text-gray-500">
					Recommended Score:
					<span class="text-danger-500">{{
						form.value.top.records[index].score
					}}</span>
				</div>

				<div
					*ngIf="
						form.value.top.records[index].score ===
						form.value.mine.records[index].score
					"
					class="text-gray-500"
				>
					Recommendation: <span class="text-emerald-500">Retain</span>
				</div>

				<div
					*ngIf="
						form.value.top.records[index].score <
						form.value.mine.records[index].score
					"
					class="text-gray-500"
				>
					Recommendation: <span class="text-amber-500">Lessen</span>
				</div>

				<div
					*ngIf="
						form.value.top.records[index].score >
						form.value.mine.records[index].score
					"
					class="text-gray-500"
				>
					Recommendation: <span class="text-red-500">Improve</span>
				</div>
			</div>
		</div>
	</div>
</div>
