<div [formGroup]="form" class="flex flex-col w-full">
	<page-header
		class="w-full"
		pageTitle="Profile"
		subtitle="Edit your profile here"
		icon="account_circle"
	></page-header>

	<div class="grid items-center grid-cols-5 gap-10 p-10">
		<mat-form-field class="w-full">
			<mat-label>Full name</mat-label>

			<input id="name" matInput [formControlName]="'name'" />

			<mat-error *ngIf="form.get('name').hasError('required')">
				Full name is required
			</mat-error>
		</mat-form-field>

		<mat-form-field class="w-full">
			<mat-label>Gender</mat-label>

			<mat-select formControlName="sex">
				<mat-option [value]="'Male'">Male</mat-option>
				<mat-option [value]="'Female'">Female</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="w-full">
			<mat-label>Email address</mat-label>

			<input id="email" matInput [formControlName]="'email'" />

			<mat-error *ngIf="form.get('email').hasError('required')">
				Email address is required
			</mat-error>

			<mat-error *ngIf="form.get('email').hasError('email')">
				Please enter a valid email address
			</mat-error>
		</mat-form-field>

		<mat-form-field class="w-full">
			<mat-label>Phone</mat-label>

			<input id="phone" matInput [formControlName]="'phone'" />

			<mat-error *ngIf="form.get('phone').hasError('required')">
				Phone is required
			</mat-error>
		</mat-form-field>

		<mat-form-field class="w-full">
			<mat-label>ID Number</mat-label>

			<input
				id="id_number"
				matInput
				type="text"
				[formControlName]="'id_number'"
				placeholder="Confirm ID Number"
			/>

			<mat-error> ID Number is required </mat-error>
		</mat-form-field>

		<mat-form-field *ngIf="DEPARTMENTS | has_data" class="w-full">
			<mat-label>Department</mat-label>

			<mat-select
				(selectionChange)="onDepartmentChange($event.value)"
				formControlName="department"
			>
				<mat-option
					[value]="department.name"
					*ngFor="let department of DEPARTMENTS; trackBy: identity"
					>{{ department.name }}</mat-option
				>
			</mat-select>
		</mat-form-field>

		<mat-form-field *ngIf="DEGREES | has_data" class="w-full">
			<mat-label>Degree</mat-label>

			<mat-select
				(selectionChange)="onDegreeChange($event.value)"
				formControlName="degree"
			>
				<mat-option
					[value]="degree.name"
					*ngFor="let degree of DEGREES; trackBy: identity"
					>{{ degree.name }}</mat-option
				>
			</mat-select>
		</mat-form-field>

		<mat-form-field *ngIf="COURSES | has_data" class="w-full">
			<mat-label>Course</mat-label>

			<mat-select
				(selectionChange)="onCourseChange($event.value)"
				formControlName="course"
			>
				<mat-option
					[value]="course.name"
					*ngFor="let course of COURSES; trackBy: identity"
					>{{ course.name }}</mat-option
				>
			</mat-select>
		</mat-form-field>

		<mat-form-field *ngIf="MAJORS | has_data" class="w-full">
			<mat-label>Major</mat-label>

			<mat-select formControlName="major">
				<mat-option
					[value]="major"
					*ngFor="let major of MAJORS; trackBy: identity"
					>{{ major }}</mat-option
				>
			</mat-select>
		</mat-form-field>

		<div>
			<button
				[ngClass]="{
					'bg-blue-800': form.valid && !form.disabled,
					'bg-gray-500 pointer-events-none': form.disabled || !form.valid
				}"
				class="flex items-center justify-center w-full py-3 mt-3 font-bold text-white fuse-mat-button-large hover:bg-blue-900"
				[disabled]="form.disabled || !form.valid"
				(click)="update()"
			>
				<span *ngIf="!form.disabled"> Update information </span>

				<mat-progress-spinner
					*ngIf="form.disabled"
					[diameter]="24"
					[mode]="'indeterminate'"
				></mat-progress-spinner>
			</button>
		</div>
	</div>
</div>
