<div class="flex flex-col w-full">
	<page-header
		class="w-full"
		pageTitle="Profile"
		subtitle="Edit your profile here"
		icon="account_circle"
	></page-header>

	<div class="grid grid-cols-5 items-center gap-10 p-10">
		<mat-form-field class="w-full">
			<mat-label>Full name </mat-label>
			<input matInput />
		</mat-form-field>

		<mat-form-field class="w-full">
			<mat-label>Email </mat-label>
			<input matInput />
		</mat-form-field>

		<mat-form-field class="w-full">
			<mat-label>Password </mat-label>
			<input matInput type="password" />
		</mat-form-field>

		<mat-form-field class="w-full">
			<mat-label>Confirm Password </mat-label>
			<input matInput type="password" />
		</mat-form-field>

		<mat-form-field class="w-full">
			<mat-label>Department</mat-label>
			<mat-select>
				<mat-option *ngFor="let item of DEPARTMENTS; trackBy: identity">{{
					item
				}}</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="w-full">
			<mat-label>Degree</mat-label>
			<mat-select>
				<mat-option *ngFor="let item of DEGREES; trackBy: identity">{{
					item
				}}</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="w-full">
			<mat-label>Course</mat-label>
			<mat-select>
				<mat-option *ngFor="let item of COURSES; trackBy: identity">{{
					item
				}}</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="w-full">
			<mat-label>Address</mat-label>
			<input matInput />
		</mat-form-field>

		<div>
			<button class="bg-blue-800 hover:bg-blue-900 text-white py-3 px-15">
				Update Information
			</button>
		</div>
	</div>
</div>
