<div class="flex flex-col w-full">
	<div class="flex flex-col w-full">
		<page-header
			class="w-full"
			[pageTitle]="'Welcome Back, ' + (student$ | async)?.name + '!'"
			subtitle="We are excited to partner with you and track your performance over the years."
			icon="dashboard"
		></page-header>
	</div>

	<div class="flex flex-col w-full bg-white mt-10 drop-shadow-md p-10">
		<div class="font-bold text-xl mb-2">Psychometric performance Summary</div>
		<div class="text-gray-500 mb-10">
			Your average performance is {{ averagePerformance }}%
		</div>

		<apx-chart
			@slideInBottom
			*ngIf="performances.length !== 0"
			class="flex-auto w-full h-80"
			[chart]="chart.chart"
			[colors]="chart.colors"
			[dataLabels]="chart.dataLabels"
			[grid]="chart.grid"
			[labels]="chart.labels"
			[legend]="chart.legend"
			[plotOptions]="chart.plotOptions"
			[series]="chart.series"
			[states]="chart.states"
			[stroke]="chart.stroke"
			[tooltip]="chart.tooltip"
			[xaxis]="chart.xaxis"
			[yaxis]="chart.yaxis"
		></apx-chart>
	</div>
</div>
