<div class="flex items-center w-full px-5 py-5 z bg-blue-800">
	<div>
		<div class="text-xl font-medium text-white accent-color">
			{{ modalTitle }}
		</div>

		<div
			@fadeInTop
			*ngIf="subTitle"
			class="text-white/80 accent-color max-w-3/4"
		>
			{{ subTitle }}
		</div>
	</div>

	<div class="flex items-center ml-auto">
		<div class="mr-2 tracking-wider text-blue-200">Close</div>

		<div
			(click)="onClose.emit()"
			role="button"
			style="border-radius: 6px"
			class="items-center justify-center p-1 text-white bg-blue-900 selection:flex"
		>
			<mat-icon class="p-1 text-gray-50" svgIcon="feather:x"></mat-icon>
		</div>
	</div>
</div>
