<div
	class="flex flex-col items-center flex-auto min-w-0 sm:flex-row md:items-start sm:justify-center md:justify-start"
>
	<div
		class="w-full px-4 py-8 md:flex md:items-center md:justify-end sm:w-auto md:h-full md:w-1/2 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"
	>
		<div class="w-full mx-auto max-w-80 sm:w-80 sm:mx-0">
			<!-- Logo -->
			<div class="w-12">
				<img src="/assets/app/cpu-logo.png" />
			</div>

			<!-- Title -->
			<div class="mt-8 text-4xl font-extrabold leading-tight tracking-tight">
				Sign in
			</div>
			<div class="flex items-baseline mt-0.5 font-medium">
				<div>Don't have an account?</div>
				<a
					class="ml-1 text-blue-800 hover:underline"
					[routerLink]="['/sign-up']"
					>Sign up
				</a>
			</div>

			<!-- Alert -->
			<fuse-alert
				class="mt-8 -mb-4"
				*ngIf="showAlert"
				[appearance]="'outline'"
				[showIcon]="false"
				[type]="alert.type"
				[@shake]="alert.type === 'error'"
			>
				{{ alert.message }}
			</fuse-alert>

			<!-- Sign in form -->
			<form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">
				<!-- Email field -->
				<mat-form-field class="w-full">
					<mat-label>Email address</mat-label>
					<input id="email" matInput [formControlName]="'email'" />
					<mat-error *ngIf="signInForm.get('email').hasError('required')">
						Email address is required
					</mat-error>
					<mat-error *ngIf="signInForm.get('email').hasError('email')">
						Please enter a valid email address
					</mat-error>
				</mat-form-field>

				<mat-form-field class="w-full">
					<mat-label>Password</mat-label>
					<input matInput type="password" [formControlName]="'password'" />

					<mat-error> Password is required </mat-error>
				</mat-form-field>

				<button
					class="flex items-center justify-center w-full py-3 mt-3 font-bold text-white fuse-mat-button-large bg-amber-500 hover:bg-amber-600/80"
					[disabled]="signInForm.disabled"
					(click)="signIn()"
				>
					<span *ngIf="!signInForm.disabled"> Sign in </span>

					<mat-progress-spinner
						*ngIf="signInForm.disabled"
						[diameter]="24"
						[mode]="'indeterminate'"
					></mat-progress-spinner>
				</button>

				<div class="flex items-center mt-8">
					<div class="flex-auto mt-px border-t"></div>
					<div class="mx-2 text-secondary">Having problems?</div>
					<div class="flex-auto mt-px border-t"></div>
				</div>

				<div class="mx-2 mt-10 text-center text-secondary">
					Contact us at: 0932432434
				</div>
			</form>
		</div>
	</div>
	<div
		style="background: #200c5f"
		class="relative items-center justify-center flex-auto hidden w-1/2 h-full p-16 overflow-hidden md:flex lg:px-28"
	>
		<!-- Background - @formatter:off -->
		<!-- Rings -->
		<svg
			class="absolute inset-0 pointer-events-none"
			viewBox="0 0 960 540"
			width="100%"
			height="100%"
			preserveAspectRatio="xMidYMax slice"
			xmlns="http://www.w3.org/2000/svg"
		>
			<g
				class="text-gray-800 opacity-25"
				fill="none"
				stroke="currentColor"
				stroke-width="100"
			>
				<circle r="234" cx="196" cy="23"></circle>
				<circle r="234" cx="790" cy="491"></circle>
			</g>
		</svg>
		<!-- Dots -->
		<svg
			class="absolute -top-16 -right-16 text-orange-200/40"
			viewBox="0 0 220 192"
			width="220"
			height="192"
			fill="none"
		>
			<defs>
				<pattern
					id="837c3e70-6c3a-44e6-8854-cc48c737b659"
					x="0"
					y="0"
					width="20"
					height="20"
					patternUnits="userSpaceOnUse"
				>
					<rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
				</pattern>
			</defs>
			<rect
				width="220"
				height="192"
				fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"
			></rect>
		</svg>
		<!-- @formatter:on -->
		<!-- Content -->
		<div class="relative z-10 w-full max-w-2xl">
			<div class="font-bold leading-none text-gray-100 text-7xl">
				<div>Welcome to</div>
				<div>Student Performance Monitor</div>
			</div>
			<div class="mt-6 text-lg leading-6 tracking-tight text-gray-400">
				Monitor and track your performance until you graduate. Find out what
				psychometric behaviors you should abide to based on top performing
				students.
			</div>
			<!-- <div class="flex items-center mt-8">
				<div class="flex flex-0 items-center -space-x-1.5">
					<img
						class="object-cover w-10 h-10 rounded-full flex-0 ring-2 ring-offset-1 ring-white ring-offset-white"
						src="assets/images/avatars/female-18.jpg"
					/>
					<img
						class="object-cover w-10 h-10 rounded-full flex-0 ring-2 ring-offset-1 ring-white ring-offset-white"
						src="assets/images/avatars/female-03.jpg"
					/>
					<img
						class="object-cover w-10 h-10 rounded-full flex-0 ring-2 ring-offset-1 ring-white ring-offset-white"
						src="assets/images/avatars/male-05.jpg"
					/>
					<img
						class="object-cover w-10 h-10 rounded-full flex-0 ring-2 ring-offset-1 ring-white ring-offset-white"
						src="assets/images/avatars/male-15.jpg"
					/>
				</div>
				<div class="ml-4 font-medium tracking-tight text-gray-400">
					More than 17k students joined us, it's your turn.
				</div>
			</div> -->
		</div>
	</div>
</div>
