<div class="bg-card w-full border-b border-b-zinc-200">
	<div class="flex flex-col w-full mx-auto px-3">
		<div class="flex flex-col sm:flex-row flex-auto min-w-0 my-2">
			<div class="flex flex-auto items-center">
				<mat-icon
					class="icon-size-14 text-amber-500"
					[svgIcon]="icon"
				></mat-icon>

				<div class="flex flex-col ml-4">
					<div
						class="text-xl md:text-3xl font-semibold tracking-tight truncate"
					>
						{{ pageTitle }}
					</div>
					<div class="flex items-center -mt-1">
						<div class="text-secondary">
							{{ subtitle }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
